PORT=5000

DATABASE_URL=postgresql://neondb_owner:npg_i9kpXR2qdFzB@ep-still-sea-ao7ukut5-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

SESSION_SECRET=rtoledgersecret