<div class="sidebar">
    <ul class="menu">
        <li class="<%= locals.activePage === 'dashboard' ? 'active' : '' %>">
            <a href="/portal/dashboard">Dashboard</a>
        </li>
        <li class="<%= locals.activePage === 'vehicles' ? 'active' : '' %>">
            <a href="/portal/my-vehicles">My Vehicles</a>
        </li>
        <li class="<%= locals.activePage === 'requests' ? 'active' : '' %>">
            <a href="/portal/my-requests">My Requests</a>
        </li>
    </ul>
</div>
