<%- include("../partials/header") %>

<div class="container">

    <%- include("../partials/sidebar") %>

    <div class="main-content">

        <%- include("../partials/navbar") %>

        <h2>Add New Customer</h2>

        <form action="/customers" method="POST">

            <input type="text" name="name" placeholder="Name" required>
            <br><br>

            <input type="text" name="mobile" placeholder="Mobile" required>
            <br><br>

            <input type="email" name="email" placeholder="Email">
            <br><br>

            <textarea name="address" placeholder="Address"></textarea>
            <br><br>

            <button type="submit">Save Customer</button>

        </form>

    </div>
</div>

<%- include("../partials/footer") %>