<h1>Add Customer</h1>

<form action="/customers" method="POST">

    <input
      type="text"
      name="customer_code"
      placeholder="Customer Code"
      required
    >

    <br><br>

    <input
      type="text"
      name="name"
      placeholder="Customer Name"
      required
    >

    <br><br>

    <input
      type="text"
      name="mobile"
      placeholder="Mobile Number"
      required
    >

    <br><br>

    <input
      type="email"
      name="email"
      placeholder="Email"
    >

    <br><br>

    <textarea
      name="address"
      placeholder="Address"
    ></textarea>

    <br><br>

    <button type="submit">
      Save Customer
    </button>

</form>