<!DOCTYPE html>

<html>

<head>

    <title>
        RTO Ledger
    </title>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/customer.css">
    <link rel="stylesheet" href="/css/vehicle.css">
    <link rel="stylesheet" href="/css/ledger.css">
    <link rel="stylesheet" href="/css/service_request.css">

    <script src="/js/navbar.js" defer></script>
</head>

<body>
